* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 46px;
  margin-left: 24px;
  margin-right: 24px;
}
.header nav {
  display: block;
  justify-content: space-between;
  color: #000;
}
.header nav .mainMenu {
  display: flex;
  flex-direction: column;
  height: 60vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  justify-content: center;
  align-items: center;
  background-color: rgb(183, 180, 180);
  transition: right 1s ease;
  display: none;
  padding-right: 100px;
}
.header nav .openMenu {
  cursor: pointer;
  display: block;
  position: absolute;
  font-size: 18px;
}
.header nav .closeMenu {
  cursor: pointer;
  position: absolute;
  display: none;
  font-size: 18px;
}
.header ul > li {
  list-style: none;
}
.header ul > li a {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  color: white;
  font-size: 1.2rem;
  padding: 10px;
  font-family: poppins;
  font-weight: 500;
  cursor: pointer;
}
.header ul > li a:hover {
  background-color: black;
}
.header__library {
  margin-left: 30px;
  font-weight: 700;
  font-size: 25px;
  margin-top: -7px;
}
.header__library__lib {
  color: #1609a3;
}
.header .sign {
  color: white;
  text-decoration: none;
  cursor: pointer;
  background-color: #2816fc;
  padding: 7px;
  border-radius: 7px;
  font-family: poppins;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column-reverse;
  gap: 50px;
}
.content img {
  margin-top: 33px;
}
.content__one {
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.content__one__day {
  font-weight: 500;
  font-size: 24px;
  font-family: open sans;
}
.content__one .Abook {
  font-size: 20px;
  font-weight: 700;
  color: #0b036f;
  margin-top: 30px;
}
.content__one__read {
  margin-top: 30px;
  font-weight: 500;
  font-size: 18px;
}
.content__one__read__dot {
  color: #0b036f;
  font-size: 20px;
}
.content .started {
  text-decoration: none;
  color: white;
  background-color: #2816fc;
  padding: 12px;
  border-radius: 8px;
  font-family: poppins;
  margin-top: 30px;
}

.latest-books {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.latest-books h3 {
  color: #0b036e;
  margin-top: 70px;
  font-size: 30px;
  font-family: open sans;
}
.latest-books p {
  color: #2816fc;
  font-family: open sans;
  font-size: 20px;
  margin-top: 10px;
}
.latest-books .arrow {
  font-size: 80px;
  margin-top: -40px;
}

.contact {
  text-align: center;
  margin-bottom: 50px;
}
.contact a {
  color: #000;
  text-decoration: none;
  font-size: 24px;
  margin-left: 5px;
}

@media screen and (min-width: 600px) {
  .header nav {
    display: none;
  }
  .content {
    margin-top: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .content__one {
    margin-left: 45px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .content__one__day {
    font-family: open sans;
    font-size: 20px;
    font-weight: 700;
  }
  .content__one__read {
    font-size: 25px;
    font-weight: 400;
  }
  .content .Abook {
    font-weight: 700;
    font-size: 50px;
  }
  img {
    width: 300px;
    height: 300px;
  }
  .latest-books {
    margin-top: 46px;
    margin-left: 24px;
    margin-right: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 50px;
  }
  .contact {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
  }
  .contact a {
    margin-top: -6px;
  }
}
@media screen and (min-width: 700px) {
  img {
    width: 400px;
    height: 400px;
  }
}
@media screen and (min-width: 1167px) {
  .content {
    gap: 200px;
  }
  .content__one .Abook {
    font-size: 100px;
  }
  .content img {
    width: 500px;
    height: 500px;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 46px;
  margin-left: 24px;
  margin-right: 24px;
}
.header nav {
  display: block;
  justify-content: space-between;
  color: #000;
}
.header nav .mainMenu {
  display: flex;
  flex-direction: column;
  height: 60vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  justify-content: center;
  align-items: center;
  background-color: rgb(183, 180, 180);
  transition: right 1s ease;
  display: none;
  padding-right: 100px;
}
.header nav .openMenu {
  cursor: pointer;
  display: block;
  position: absolute;
  font-size: 18px;
}
.header nav .closeMenu {
  cursor: pointer;
  position: absolute;
  display: none;
  font-size: 18px;
}
.header ul > li {
  list-style: none;
}
.header ul > li a {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  color: white;
  font-size: 1.2rem;
  padding: 10px;
  font-family: poppins;
  font-weight: 500;
  cursor: pointer;
}
.header ul > li a:hover {
  background-color: black;
}
.header__library {
  margin-left: 30px;
  font-weight: 700;
  font-size: 25px;
  margin-top: -7px;
}
.header__library__lib {
  color: #1609a3;
}

.mainContent {
  display: flex;
  flex-direction: column;
}
.mainContent .imageSign {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 70px;
}
.mainContent .imageSign img {
  width: 250px;
  height: 250px;
}
.mainContent .mainForm {
  background-color: #fff;
}
.mainContent .mainForm form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainContent .mainForm form .form-name {
  width: 80vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.mainContent .mainForm form .form-name .form-name small {
  color: #dc3545;
}
.mainContent .mainForm form .form-name .form-name input:focus {
  outline: none;
}
.mainContent .mainForm form .form-name .error {
  border-color: #dc3545;
}
.mainContent .mainForm form .form-name .success {
  border-color: #28a745;
}
.mainContent .mainForm form .form-name input {
  padding: 10px;
}
.mainContent .mainForm form .complete {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.mainContent .mainForm form .completeness {
  background-color: #2816fc;
  color: whitesmoke;
  padding: 10px;
  border-radius: 10px;
}

.contact {
  text-align: right;
  margin-bottom: 50px;
  margin-right: 30px;
  margin-top: 30px;
  font-size: small;
}
.contact a {
  color: #000;
  text-decoration: none;
  font-size: 24px;
  margin-left: 5px;
  font-weight: 400;
  font-size: 18px;
}

@media screen and (min-width: 440px) {
  .mainContent .imageSign img {
    width: 300px;
    height: 300px;
  }
}
@media screen and (min-width: 600px) {
  .header nav {
    display: none;
  }
}
@media screen and (min-width: 700px) {
  .mainContent {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    margin-top: 33px;
    margin-left: 118px;
    margin-right: 120px;
  }
  .mainContent .imageSign {
    width: 20%;
  }
  .mainContent .mainForm {
    width: 80%;
  }
  .mainContent .mainForm .name {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .mainContent .mainForm .form-name {
    width: 60vw;
  }
}/*# sourceMappingURL=main.css.map */