* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Fira Code;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 33px;
  margin-left: 118px;
  margin-right: 120px;
}
.header nav {
  display: none;
}
.header__library {
  text-transform: uppercase;
  font-weight: 500;
}
.header__library__lib {
  color: #0b036f;
}
.header .sign {
  color: #fff;
  background-color: #2816fc;
  margin: 20px;
  padding: 8px;
  text-decoration: none;
  border-radius: 7px;
  font-family: open sans;
}
@media screen and (max-width: 900px) {
  .header .sign {
    margin-right: -200px;
  }
}
@media screen and (min-width: 450px) and (max-width: 700px) {
  .header .sign {
    margin-right: -350px;
  }
}
@media screen and (max-width: 580px) {
  .header nav {
    display: block;
    justify-content: space-between;
    color: #000;
  }
  .header nav .mainMenu {
    display: flex;
    flex-direction: column;
    height: 60vh;
    position: fixed;
    right: 0;
    z-index: 10;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #000;
    transition: right 1s ease;
    display: none;
    padding-right: 150px;
  }
  .header nav .openMenu {
    cursor: pointer;
    display: block;
    position: fixed;
  }
  .header nav .closeMenu {
    cursor: pointer;
    position: absolute;
    display: none;
  }
  .header ul > li {
    list-style: none;
  }
  .header ul > li a {
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    color: black;
    font-size: 1.2rem;
    padding: 10px;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 33px;
  margin-left: 118px;
  margin-right: 120px;
}
.content__one {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}
.content__one__day {
  font-family: open sans;
  font-size: 20px;
  font-weight: 700;
}
.content__one__read {
  font-size: 25px;
  font-weight: 400;
}
.content__one__read__dot {
  font-size: 25px;
}
.content__one .started {
  text-decoration: none;
  color: #fff;
  background-color: #2816fc;
  padding: 15px;
  border-radius: 20px;
  width: 200px;
  text-align: center;
}
@media screen and (max-width: 900px) {
  .content .content__one__day {
    font-size: 40px;
  }
}
.content .Abook {
  text-transform: uppercase;
  color: #0b036f;
  font-weight: 700;
  font-size: 70px;
}
@media screen and (max-width: 900px) {
  .content .Abook {
    font-size: 40px;
  }
}
@media screen and (min-width: 562px) and (max-width: 700px) {
  .content .Abook {
    font-size: 30px;
  }
}
@media screen and (min-width: 450px) and (max-width: 561px) {
  .content .Abook {
    font-size: 20px;
  }
}
.content__two {
  width: 50%;
}
.content img {
  width: 500px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-left: 118px;
}

.latest-books {
  margin-top: 33px;
  margin-left: 118px;
  margin-right: 120px;
}
.latest-books h3 {
  font-weight: 500;
}
.latest-books p {
  font-weight: 700;
  font-size: 20px;
  color: #2816fc;
  margin-bottom: -50px;
}
.latest-books .arrow {
  font-size: 100px;
}

.contact {
  display: flex;
  justify-content: flex-end;
  margin-right: 120px;
  margin-bottom: 50px;
  gap: 10px;
}
.contact a {
  color: black;
  font-family: open sans;
  text-decoration: none;
  font-size: 20px;
  margin-top: -3px;
}

@media screen and (max-width: 900px) {
  .contact {
    margin-right: -200px;
  }
}/*# sourceMappingURL=main.css.map */